# .NET
bin/
obj/
.vs/
*.user
*.suo

# Node
node_modules/
dist/
.env
.env.local

# Migration reports
docs/migration-report/
docs/migration-normalized-report/
docs/migration-import-report/

# Logs
*.log

# Local settings
appsettings.Development.json

# Uploads locales
uploads/

# SQL backups / DB files
*.bak
*.trn
*.mdf
*.ldf

# OS
.DS_Store
Thumbs.db
Desktop.ini

# IDE
.vscode/
