# .NET
bin/
obj/

# Frontend
node_modules/
dist/

# Local environment
.env
.env.local
docs/migration-report/
docs/migration-normalized-report/
docs/migration-import-report/

# IDE
.vs/
.vscode/

# OS
Thumbs.db
Desktop.ini
